{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nanoBTS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<main>

    <div id="ajaxGif">
        <img src="{% static "stuff/ajax-loader.gif" %}" alt="My image"/>

    </div>
    <h1>nanoBTS with OpenBSC</h1>


    <div class="content">

        <div class="row functions">

            <div class="col-sm-4 col-sm-offset-1 border-test">
                <!-- ## functionality ## -->

{#                <!-- ## Update and Status -->#}
{#                <h2 class="listheader" id="refreshlistheader">#}
{#                    Update subscriber list#}
{#                </h2>#}
{#                <button id="showsubs" data-id="" class="btn btn-default margin-bottom" type="button">Update</button>#}
{#                <button id="showstatus" data-id="" class="btn btn-info margin-bottom" type="button">Show status</button>#}

                <!-- ## broadcast -->
                <h2 class="listheader margin-top" id="smslistheader">
                    Send admin message to subscribers
                </h2>
                <button id="sendbroadcast" data-id="" class="btn  btn-primary" type="button">
                    Broadcast
                </button>

                <!-- ## Select -->
                <div class=" margin-top-small">
                    <button id="selectall" data-id="" class="btn btn-sm btn-default" type="button">
                        Select all
                    </button>
                    <button id="selectnone" data-id="" class="btn btn-sm btn-default" type="button">
                        Select none
                    </button>

                </div>

                <!-- ## message field -->

                <div class="form-group margin-top padding-right">
                    <div class="">
                        <span class="help-block">Type in your message</span>
                        <textarea class="form-control" rows="3" id="textArea"></textarea>

                    </div>
                </div>


                <!-- ## Add sibscriber-->

                <h2 class="listheader margin-top" id="">
                    Add subscriber to HLR
                </h2>


                <div class="form-group margin-top-small padding-right">
                    <div class="">
                        <span class="help-block">IMSI</span>
{#                        <textarea class="form-control" rows="1" id="textImsi"></textarea>#}
                        <input class="form-control input-sm" id="textImsi"></input>

                    </div>
                </div>


                <div class="form-group margin-top-small padding-right">
                    <div class="">
                        <span class="help-block">Name</span>
                        <label class="control-label" for="inputSmall">Name</label>
{#                        <textarea class="form-control" rows="1" id="textName"></textarea>#}
                        <input class="form-control input-sm" id="textName"></input>

                    </div>
                </div>

                <button id="add_sub" data-id="" class="btn btn-success" type="button">
                    Add
                </button>

                <!-- ## Delete sibscriber-->

                <h2 class="listheader margin-top">
                    Delete subscriber from HLR
                </h2>
                <button id="delete_sub" data-id="" class="btn  btn-danger" type="button">
                    Delete
                </button>


            </div>


            <!-- ## table with subscribers ## -->

            <div class="col-sm-6  border-test">
                <div class="panel panel-default col-sm-12 table-responsive" id="subs">

                    <div class="panel-heading">Subscriber
                        <div id="status-time"></div>
                        <div class="panel-buttons">

                            <button id="showsubs" data-id="" class="btn btn-xs btn-primary" type="button">Update</button>
                            <button id="showstatus" data-id="" class="btn btn-xs btn-info" type="button">Show status</button>
                        </div>
                    </div>

                    <table class="table table-hover table-striped table-condensed" id="substable"></table>
                </div>

            </div>

        </div>
    </div>


</main>


<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
