body {
    font-family: "Open Sans";

}

main {
    width: 100vw;
    height: 100vh;
}

/*ul {*/
    /*list-style: none;*/
/*}*/
/*ul li {*/
    /*padding-bottom: 2rem;*/
/*}*/

/*ul li:nth-child(3) {*/
    /*padding-top: 2rem;*/
/*}*/

#selectall {
    /*margin-left: 2.5rem;*/
}
/*.border-test{
    border:2px solid red;
}
*/
.panel{
    padding-left: 0;
    padding-right: 0;
}
.table{
    padding-left: 15px;
    padding-right: 15px;
}
.margin-top{
    margin-top: 5rem;
}
.margin-top-small{
    margin-top: 1.5rem;
}

.margin-left-small {
    margin-left: 1rem;
}
.padding-right{
    padding-right: 2rem;
}
.listheader {
    font-weight: bold;
    font-size: x-large;
    margin: 0;
}
.margin-bottom{
    margin-bottom: 2rem;
}

.content {
    margin-top: 10vh;
}

h1 {
    color: dodgerblue;
    text-align: center;
    /*margin-left: 7vh;*/
    margin-top: 5vh;
    font-family: Dosis;
    font-size: 5rem;
}

.functions {
    height: auto;
    overflow-y: scroll;
}

.panel-buttons {
    display: inline;
    margin-left: 30rem;
}

#status-time {


}

.fat-font {
    font-weight: bold;
}

/*.border-test {*/
    /*border: dotted red;*/
/*}*/

.button-size {
    /*color: #0bcb9a;*/
    font-size: 2.5rem;
    text-align: center;
    padding: .5rem 1rem .5rem 1rem;
}

.button-circle {
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
}