body {
    font-family: "Open Sans";

}

main {
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
}
ul li {
    padding-bottom: 2rem;
}

ul li:nth-child(3) {
    padding-top: 2rem;
}

#selectall {
    /*margin-left: 2.5rem;*/
}
/*.border-test{
    border:2px solid red;
}
*/
.panel{
    padding-left: 0px;
    padding-right: 0px;
}
.table{
    padding-left: 15px;
    padding-right: 15px;
}
.margin-top{
    margin-top: 3rem;
}
.margin-top_small{
    margin-top: 1.5rem;
}
.padding-right{
    padding-right: 2rem;
}
.listheader {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 30px;
    margin: 0;
}
.margin-bottom{
    margin-bottom: 3rem;
}

.content {
    margin-top: 10vh;
}

h1 {
    color: dodgerblue;
    text-align: center;
    /*margin-left: 7vh;*/
    margin-top: 5vh;
    font-family: Dosis;
    font-size: 5rem;
}